<div class="jumbotron main" style="width: 80vw">
    <h1 class="display-1" id="errorCode" style="font-weight: bold;">{{errorCode}} Error</h1>
    <p class="lead" id="errorMessage" style="font-size: 2rem;">{{errorMessage}}</p>
    <hr>
    <a class="btn btn-primary btn-lg" role="button" href="/">Home</a>
</div>