<section class="section is-large">
    <div class="container has-text-centered">
        <small>Oh dear, something broke</small>
        <h1 class="title is-1 has-text-black" id="errorCode">{{errorCode}}</h1>
        <p class="subtitle" id="errorMessage">{{errorMessage}}</p>
        <hr>
        <p>If you believe that this is an error, please contact us for help.</p>
    </div>
</section>