{{!--

<body class="text-center" data-new-gr-c-s-check-loaded="14.997.0" data-gr-ext-installed="">
    <h1 id="time-display" class="display-1">22:00</h1>
</body> --}}

<div class="jumbotron" style="width: 80vw">
    <h1 class="display-1" id="time-display" style="font-weight: bold;"></h1>
    <p class="lead" id="good-day" style="font-size: 2rem;"></p>
    <hr>
    <a onclick="$('#input-cardID').focus()" class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#scanCardModal"><i class="fas fa-briefcase"></i>&ensp;Log shift</a>
</div>

<!-- Scan Modal -->
<div class="modal fade" id="scanCardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Log shift</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="display-3">
                    <div class="id-card-icon"><i class="fas fa-id-card"></i></div>
                    <div class="id-card-icon-shadow"></div>
                </div>
                <br>
                <h2><b>Tap your card</b></h2>
                <p>Please tap your Admin. Card to log your shift</p>
            </div>
            <form style="z-index: -9999999; opacity: 0; display: absolute">
                <input type="text" placeholder="Card ID" autocomplete="off" id="input-cardID" name="cardID" required>
            </form>
        </div>
    </div>
</div>

<!-- Failed Modal -->
{{#if statusFail}}
<div class="modal fade" id="scanCardFailedModal" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Log shift</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="display-3">
                    <div class="id-card-failed-icon text-danger"><i class="fas fa-times"></i></div>
                    <div class="id-card-icon-shadow"></div>
                </div>
                <br>
                <h2 class="text-danger"><b>Card Error</b></h2>
                <p>Something broke when reading the card.<br>Check your card and try again.</p>
                <small class="text-black-50">Please seek for assistance if you believe that this is a bug.</small>
            </div>
        </div>
    </div>
</div>
{{/if}}

<!-- Failed Modal (Already Out) -->
{{#if statusFailAlreadyOut}}
<div class="modal fade" id="scanCardAlreadyOutModal" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Log shift</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="display-4">
                    <div class="id-card-tick-icon text-success"><i class="fas fa-check-circle"></i></div>
                    <div class="id-card-icon-shadow"></div>
                </div>
                <br>
                <h2 class="text-success"><b>Already signed out</b></h2>
                <p>Last tap was registered at {{ error.timeDone }}</p>
                <small>What considers as 'already'?<br><span class="text-black-50">Any card taps in the last 30mins since the previous tap is considered as 'action already performed'.</span></small>
            </div>
        </div>
    </div>
</div>
{{/if}}

<!-- Failed Modal (Already In) -->
{{#if statusFailAlreadyIn}}
<div class="modal fade" id="scanCardAlreadyInModal" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Log shift</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="display-4">
                    <div><i class="fas fa-business-time"></i></div>
                </div>
                <br>
                <h2><b>Already signed in</b></h2>
                <p>Last tap was registered at {{ error.timeDone }}</p>
                <small>What considers as 'already'?<br><span class="text-black-50">Any card taps in the last 30mins since the previous tap is considered as 'action already performed'.</span></small>
            </div>
        </div>
    </div>
</div>
{{/if}}
