<meta http-equiv="refresh" content="60">

<section class="section">
  <div class="container">
    <div class="columns is-multiline is-centered">
      <div class="column is-8 has-text-centered">
        <h2 class="mt-2 mb-4 is-size-1 -mobile has-text-weight-bold has-text-white">Student Assistant Coaches</h2>
        <h2 class="mt-2 mb-4 is-size-3 -mobile has-text-weight-bold has-text-white">Do Approach Them For Help!!</h2>
        <ol class="pt-5">
            {{#each people}}
                <li class=" box mt-2 mb-4 is-size-2 -mobile has-text-weight-bold">{{this}}</li>
                {{else}}
                <li class=" box mt-2 mb-4 is-size-2 -mobile has-text-weight-bold">We Will Be Back By 10:00 A.M.</li>
            {{/each}}
        </ol>
      </div>
    </div>
  </div>
</section>